/* General styles */

* {
    margin:0;
    padding:0;
    box-sizing: border-box;
    max-width: 100%;
    font-family: "Rubik", sans-serif;
}

body {
    max-width: fit-content;
}



/* Navbar */
.navbar-brand {
    margin-left: 50px;   
}

#navbarSupportedContent {
    margin-right: 50px;
}

/* Hero */

.hero-image {

    background-image:url(/assets/images/hero-img.jpg);
    height:500px;
    width:100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top:55px;
}

.hero-text {
    text-align:center ;
    padding-top: 30px;
    color:#545e6d;
    font-size: large;
}

.hero-text h1 {
    font-size: 75px;
}

/* Index Intro */

.intro {
    padding-top: 25px;
    padding-left: 25px;
}



.iceland-info {
    padding-top: 25px;
    padding-left: 25px;
}

/* Index Info */


/* Trivia */

.trivia{
    background-color: whitesmoke;
    width:90%;
    max-width: 750px;
    margin:100px auto 0;
    border-radius: 10px;
    padding: 30px;
}

.trivia h2 {
    font-size: 30px;
    padding-bottom: 25px;
    border-bottom: 1px solid black;
}

.quiz {
    padding: 20px 0;
}

.quiz h3 {
    font-size: 20px;
}

.button {
    background: white;
    color: black;
    width: 100%;
    border: 1px solid black;
    margin: 10px 0;
    padding: 10px;
    text-align: left;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background: black;
    color: white;
}

#next-button {
    background: grey;
    color: white;
    width:150px;
    padding: 10px;
    border:0;
    border-radius: 1px;
    margin: 15px auto 0;
    cursor: pointer;
}

/* Footer */

footer {
    background-color: #212529 ;
    margin-top: 25px;
    left: 0;
    bottom: 0;
    width: 100%;
}
.footer-container {
    width:100%;
    padding: 10px 10px 10px;
}

.social-media {
    display: flex;
    justify-content: center;
    padding-top: 5px;
}

.social-media a {
    text-decoration: none;
    padding: 10px;
    background-color: white;
    margin: 10px;
    border-radius: 15%;
}

.social-media a i {
    font-size: 2em;
    color: black;
}

.footer-nav {
    margin: 15px;
}
.footer-nav ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}

.footer-nav ul li a {
    color: white;
    margin: 10px;
    text-decoration: none;
    opacity: .75;
    font-size: 21px;
}

.footer-nav ul li a:hover {
    opacity: 1 ;
}

.footer-copyright {
    padding:5px;
    text-align: center;
    color: white;
    opacity: .75;
}

/* Media Queries */
@media (max-width: 1075px) {
    .hero-image {
        height:350px;
    }
    .hero-text h1 {
        font-size: 50px;
    }
}
@media (max-width:504px) {
    
    .footer-nav ul li {
        width:100%;
        text-align: center;
        margin: 5px;
        font-size: 10;
    }
    .footer-copyright{
        width:100%;
        text-align: center;
        margin: 10px;
        font-size: 15px;
        margin-left: 5px;
    }
}